################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cogniphi.BackendService.Sample/config
/src/Cogniphi.BackendService.Sample/bin/Debug/netcoreapp3.1
/src/Cogniphi.BackendService.Sample/obj
/src/Cogniphi.BackendService.Sample/bin/Release/netcoreapp3.1
/.vs/Cogniphi.BackendService.Sample
/src/Cogniphi.Platform.Middleware/obj
/src/Cogniphi.Platform.Middleware/bin/Debug/netcoreapp3.1
